<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=192.168.111.35,3821;initial catalog=beta_X-Caliber;persist security info=True;user id=sa;password=D0m1nate!5;packet size=4096" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>