<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source={servername};initial catalog={database};persist security info=True;user id={username};password={pass};packet size=4096" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>